.button
{
    -fx-background-color: linear-gradient(to bottom, #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#000000 51%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%);
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color:  linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%);
    /*
    -fx-background-color:  linear-gradient(to bottom, #959595 0%,#0d0d0d 46%,#010101 50%,#0a0a0a 53%,#4e4e4e 76%,#383838 87%,#1b1b1b 100%);
    */
}

.button:focused {
    -fx-border-insets: 0px;
    -fx-border-color: #0093ff;
    -fx-border-width: 1px;
    -fx-border-radius: 5, 5, 4, 3;
}

.button:pressed {
    -fx-background-color:  black;
}

.button.active {
    -fx-background-color: linear-gradient(to bottom, #627d4d 0%, #1f3b08 100%);
}

.combo-box {
     -fx-background-color: linear-gradient(to bottom, #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
}

.root-pane {
    -fx-background-color:  linear-gradient(to bottom right, #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%);
}

.fieldset .legend {
    -fx-background-color: #e2e2e2 !important;
}

.tab-content-area {
    -fx-background-color: transparent;
}


.label {
    -fx-background-color: transparent;
}

.textfield--error {
    -fx-border-width: 1px;
    -fx-border-color: red;
    -fx-border-style: solid;
    -fx-border-radius: 3px 2px 2px;
}

.textfield--valid {
    -fx-border-width: 1px;
    -fx-border-color: greenyellow;
    -fx-border-style: solid;
    -fx-border-radius: 3px 2px 2px;
}